
.alive {
    background-color: #999;
}

.death {
    background-color: #ffA;
}

div.row { 
    height: 20px;
    display: table-cell;
}

div.cell {
    width: 20px;
    outline: 1px solid;
    float: left;
    height: 20px;
}


.control-panel {
	padding: 7px 7px;
}